@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 27, 53%, 97%;
    --foreground: 350 5% 0%;
    --card: 350 50% 90%;
    --card-foreground: 350 5% 10%;
    --popover: 350 100% 95%;
    --popover-foreground: 350 100% 0%;
    --primary: 350 83.7% 38.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 340 82% 82%;
    --secondary-foreground: 0 0% 0%;
    --muted: 312 30% 85%;
    --muted-foreground: 350 5% 35%;
    --accent: 312 30% 80%;
    --accent-foreground: 350 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 350 5% 90%;
    --border: 350 30% 50%;
    --input: 350 30% 18%;
    --ring: 350 83.7% 38.4%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 350 50% 5%;
    --foreground: 350 5% 90%;
    --card: 350 50% 0%;
    --card-foreground: 350 5% 90%;
    --popover: 350 50% 5%;
    --popover-foreground: 350 5% 90%;
    --primary: 350 83.7% 38.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 340, 82%, 82%;
    --secondary-foreground: 0 0% 100%;
    --muted: 312 30% 15%;
    --muted-foreground: 350 5% 60%;
    --accent: 312 30% 15%;
    --accent-foreground: 350 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 350 5% 90%;
    --border: 350 30% 18%;
    --input: 350 30% 18%;
    --ring: 350 83.7% 38.4%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
